/* ==== FONTE ==== */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* ======= NORMALIZE ========== */
body {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
  touch-action: none;
}

.no-touch {
  touch-action: none;
}

/* ============== ESTILO GERAL DAS DIVS ================ */

:root {
  --fonte-regular: 'Montserrat', sans-serif;
  --input-color: #48535a;
}


.background {
  position: fixed;
  width: 100%;
  background-size: cover;
}

.top {
  background-image: url("./img/PNL_BarraSuperior.png");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  z-index: 0; 
}

.logo {
  /* height: 15%; */
  height: 5vh;
}

.hide {
  display: none;
}

.card {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85vw;
  border-radius: 1.7rem;
  height: 40vw;
  background-image: url("./img/PNL_Balao.png");
  background-position: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}

.card-content {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-content p {
  font-family: var(--fonte-regular);
  font-size: 0.7rem;
  font-weight: 400;
  margin-left: -2rem;
  margin-right: -2rem;
  color: #000;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* ======= div1 ======= */

  .bottom-1 {
    background-image: url("./img/PNL_Background.png");
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    height: 75vh;
    z-index: 0;
  }

  .btn-bottom-1 {
    display: flex;
    gap: 2rem;
  }

  .btn-green {
    height: 30%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .btn-purple-left {
    height: 35%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .btn-purple-right {
    height: 35%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .backgound-btn {
    height: 40%;
  }

  /* ==== Div 2 ==== */

  .bottom-2 {
    background-image: url("./img/PNL_Background.png");
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20%;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    height: 75vh;
    z-index: 0;
  }

  .nickname {
    border: 6px solid #000;
    border-color: var(--input-color);
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,6);
    outline: 10px solid #fff;    
    padding: 20px !important;
    height: 3.5rem;
    width: 15rem;
    outline: box-shadow;
    margin-top: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family: var(--fonte-regular);
    color: var(--input-color);
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;

  }

  .confirm {
    height: 40%;
    margin-top: 4.5rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .confirm-area {
    height: 50%;
  }

  .backgound-confirm {
    height: 40%;
  }

  /* ==== Div 3 ==== */

  .div-3 {
    background-image: url(./img/PNL_BarraSuperior.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20vh;
    align-items: center;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thankyou {
    font-family: var(--fonte-regular);
    color: #fff;
    font-weight: 400;
  }

  .logo-final {
    height: 14vw;
  }

  .veja-mais {
    height: 4em;
    margin-bottom: 15vh;
  }

 
   /* ==== TABLET GRANDE ==== */

   @media (max-width: 1280px) {

    .card {
      width: 40%;
      height: 20%;
    }

    .nickname {
      height: 5.5rem;
      width: 20vw;
      margin-top: -3rem;
      font-size: 3rem;
    }

    
    .btn-green {
      height: 10vw;
    }

    .btn-purple-left {
      height: 15vw;
    }

    .btn-purple-right {
      height: 15vw;
    }

    .confirm {
      height: 55%;
      margin-bottom: 4rem;
    }

    .card-content p {
      font-size: 1rem;
    }

    .thankyou {
        font-size: 1.5rem;
    }
  }

  /* ==== TABLET ==== */

  @media (max-width: 912px) {

    .card {
      width: 60%;
    }

    .nickname {
      height: 8rem;
      width: 45vw;
      margin-top: 4em;
      margin-bottom: 2rem;
      font-size: 5.5rem;
    }

    .btn-green {
        height: 27vw;
      }
  
    .btn-purple-left {
    height: 32vw;
    }

    .btn-purple-right {
      height: 32vw;
    }

    .confirm {
      height: 45%;
      margin-top: 5em;
      margin-bottom: 4rem;
    }

    .card-content p {
      font-size: 1.7rem;
    }

    .thankyou {
        font-size: 2.5rem;
    }

    .veja-mais {
        height: 10vh;
    }
  }

  /* ==== iPAD MINI ==== */

  @media (max-width: 768px) {

    .nickname {
      height: 7rem;
      width: 50vw;
      margin-top: 4em;
      font-size: 4rem;
    }

    .confirm {
      height: 50%;
      margin-top: 4em;
      margin-bottom: 2em;
    }
  }
  

  /* ==== MOBILE ==== */

  @media (max-width: 540px) {

    .card {
      width: 80%;
    }

    .nickname {
      height: 6rem;
      width: 50vw;
      margin-top: 2.5em;
      margin-bottom: -2rem;
      font-size: 3rem;
    }

    .btn-green {
        height: 27vw;
      }
  
    .btn-purple-left {
    height: 32vw;
    }

    .btn-purple-right {
    height: 32vw;
    }

    .confirm {
      height: 50%;
      margin-bottom: 4rem;
    }

    .card-content p {
      font-size: 1.2rem;
    }

    .thankyou {
        font-size: 1.5rem;
    }

    .veja-mais {
        height: 10vh;
    }
  }

  /* ==== MOBILE MÉDIO ==== */

  @media (max-width: 415px) {
    .nickname {
      height: 6rem;
      width: 65vw;
      margin-top: 4em;
      font-size: 4rem;
    }

    .confirm {
      height: 40%;
      margin-top: 6em;
      margin-bottom: 2em;
    }
  }

  /* ==== MOBILE MINI ==== */

  @media (max-width: 385px) {

    .card {
      width: 80%;
    }

    .nickname {
      height: 4.5rem;
      width: 65vw;
      margin-top: 4.5em;
      font-size: 3rem;
    }

    .btn-green {
        height: 30vw;
      }
  
    .btn-purple-left {
    height: 35vw;
    }

    .btn-purple-right {
    height: 35vw;
    }

    .card-content p {
      font-size: 1rem;
    }

    .confirm {
      height: 40%;
      margin-top: 5em;
      margin-bottom: 3em;
    }

    .thankyou {
        font-size: 1.2rem;
    }
  }

   /* ==== MOBILE ESPECÍFICO IPHONE SE ====  */

   @media (min-width: 365px) and (max-width: 375px) {
    .nickname {
      height: 5rem;
      width: 55vw;
      margin-top: 4em;
      font-size: 3rem;
    }

    .confirm {
      height: 40%;
      margin-top: 5em;
      margin-bottom: 2em;
    }  
  }

 